body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #0b2d51;
}

.form-label {
    font-weight: bold;
}

.btn-add {
    margin-top: 10px;
    font-size: 50px;
}

.table th,
.table td {
    vertical-align: middle;
}

.table th {
    background-color: #0e2d4e;
    color: white;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
}

.edit-btn {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

.edit-btn:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: #212529;
}

.delete-btn {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: white;
}